body {
    background-image:url(gradient.png);
    width: 99%;
	height: 600px;
    left: 0px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.homepage {
    margin: 35px auto;
    width: 410px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0px 15px;
}
.calculator {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 90px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row{
    display: flex;
}

button{
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear, .zero-btn {
    width: 50%;
}

.operator, .equal-sign {
    background-color: orange;
}

button:hover {
    background-color: darkgray;
}

.operator:hover, .equal-sign:sign:hover {
    background-color: darkorange;
}

footer {
    margin: 10px auto;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
}
